<tr>
  <td> # </td>
  <td> <%= link_to(group.title, group_path(group)) %> </td> 
  <td> <%= group.description %> </td> 
  <td> <%= group.posts.size %> </td> 
  <!-- <td> <%= group.posts_count %> </td>  -->
  <td> <%= group.updated_at.to_s(:long) %> </td> 
</tr>